<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Homepage.">
    <%- include("bootstrap") %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("topbar") %>

    <div style="margin-top: 1rem;" class="container">

        <div class="row align-items-center card-deck">
            <div class="card">
                <div class="card-header">
                    <h4>Information</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h5>Priser</h5>
                        <p>Endast entré: 60 kronor</p>
                        <p>Entré och sittplats: 90 kronor</p>

                        <h5>När?</h5>
                        <p>Kl 20 till kl 8 den 12 april 2019.</p>

                        <h5>Var?</h5>
                        <p>Annexet, <a target="_blank" href="https://goo.gl/maps/H5yDqzPpLry">Upplandsgatan 49</a></p>

                        <h5>Vad ska jag ta med?</h5>
                        <p>Dator, skärm, ethernet (förlåt calle) sladd (~2+ meter)</p>
                        <hr>
                        <p>
                            På LANet finns den kiosk för försäljning av <span class="text-highlight">snacks,
                                godis,
                                dryck</span> samt även
                            en begränsad
                            mängd faktisk föda i form av nudlar, kaffe och frukt.
                        </p>
                        <p>
                            Utöver detta finns det under LANet ett
                            antal <span class="text-highlight">aktiviteter</span> att delta i även utan bokad
                            sittplats.
                            I konsolrummet finns ett stort
                            utbud av konsolspel av olika genrer, däribland fighting spel, retrospel samt klassiska
                            favoriter. Förberedda sessioner i D&D kommer att hållas i rollspelsklubbens rum.
                        </p>
                        <p>
                            Vad som sker i animerummet är hittills okänt för omvärlden (kolla på anime och sova).
                        </p>
                        <p>
                            Turneringar kommer
                            att hållas i <a href="javascript:window.scrollTo(0,document.body.scrollHeight);">särskilt
                                utvalda spel.</a>
                            Anmälan sker på plats vid
                            bokningsbordet dedikerat till turneringar.
                        </p>
                        <p>
                            Nytt för i år är ett officiellt sovrum för de individer som, istället för att med
                            energidryck halvera
                            sin livstid, regenererar energi genom mer hälsosamma metoder.
                        </p>
                    </p>
                </div>
            </div>
        </div>
        <div style="margin-top: 1rem;" class="row align-items-center card-deck">
            <div class="card">
                <div class="card-header">
                    <h4>Turneringar</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <% for (const game of games) { %>
                    <li class="list-group-item">
                        <%= game %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <p class="card-text">
                        Anmälning till tuneringar sker på plats.
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>