<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Homepage.">
    <%- include("bootstrap") %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("topbar") %>

    <div style="margin-top: 1rem;" class="container">
       
        <div class="row align-items-center card-deck">
            <div class="card">
                <div class="card-header">
                    <h4>Information</h1>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h3>Priser</h3>
                        <p>Endast entré: 60 kronor</p>
                        <p>Entré och sittplats: 90 kronor</p>

                        <h3>När?</h3>
                        <p>Kl 20 till kl 8 den 12 april 2019.</p>

                        <h3>Var?</h3>
                        <p>Annexet, <a target="_blank" href="https://goo.gl/maps/H5yDqzPpLry">Upplandsgatan 49</a></p>

                        <h3>Vad ska jag ta med?</h3>
                        <p>Dator, skärm, ethernet (förlåt calle) sladd (~2+ meter)</p>

                        <h3>Kiosk och mat</h3>
                        <p>Väl på LANet finns den kiosk för försäljning av snacks, godis, dryck samt även en begränsad mängd faktisk föda i form av
                        nudlar, kaffe och frukt.</p>


                        <h3>Aktiviteter</h3>
                        <h6 class="text-info">Under LANet finns ett antal aktiviteter att delta i även utan bokad sittplats.</h6>

                        <h4>Konsollrummet</h4>
                        <p>I konsolrummet finns ett stort utbud av konsolspel av olika genrer, däribland fighting spel, retrospel samt klassiska
                            favoriter. Förberedda sessioner i D&D kommer att hållas i rollspelsklubbens rum.</p>

                        <h4>Animerummet</h4>
                        <p>Sova och kolla på anime.</p>

                        <h4>Turneringar</h4>
                        <p>Turneringar kommer att hållas i särskilt <!-- lazy mans selector reference --><a href="javascript:window.scrollTo(0,document.body.scrollHeight);">utvalda spel</a>.</p>

                        <h4>Sovrum</h4>
                        <p>Nytt för i år är ett officiellt sovrum för de individer som, istället för att med energidryck halvera sin livstid,
                        regenererar energi genom mer hälsosamma metoder.</p>
                    </p>
                </div>
            </div>
        </div>
        <div style="margin-top: 1rem;" class="row align-items-center card-deck">
            <div class="card">
                <div class="card-header">
                    <h4>Turneringar</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <% for (const game of games) { %>
                    <li class="list-group-item">
                        <%= game %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <p class="card-text">
                        Anmälning till tuneringar sker på plats.
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>