@font-face {
    font-family: "Soleto";
    src: url(/public/fonts/soleto.ttf);
}

body,
html,
* {
    font-family: Soleto;
}

/* Bootstrap overrides. */

.text-highlight {
    color: #DD0890;
    font-weight: bold;
}

html .btn-primary {
    background-color: #DD0890;
    border: 1px #001427;
}

html .btn-primary:hover {
    background-color: #8c025a;
}

.container .card .list-group-item {
    border-color: #444444;
}

img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}